* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

html {
  color: rgb(222, 222, 222);
  background: rgb(0, 43, 54);
  perspective: 1000px;
  padding-left: 100px;
  padding-top: 50px;
  font-size: 15px;
}

.token.selector {
  color: rgb(42, 161, 152);
}

.token.punctuation {
  color: rgb(187, 137, 0);
}

